body {
  margin: 0;
  padding: 0;
  font-family: Segoe UI ,Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 15rem 0rem 15rem;
  margin: 4rem 0rem 4rem 0rem;
}

header h2 {
  margin-top: 0;
}

header {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  background-color: #eeeeee;
  width: max-content;
  font-size: 15px;
  color: #535353;
  border-radius: 10px;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  transition: background-color .18s ease-in-out,
              color .18s ease-in-out;
}

button {
  width: max-content;
  font-size: 15px;
  background-color: #535353;
  color: #dddddd;
  border-radius: 10px;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  transition: background-color .18s ease-in-out,
              color .18s ease-in-out;
}

button:hover,
a:hover {
  background-color: rgba(139, 115, 88, 0.8);
  color: white;
  text-decoration:none;
  cursor: pointer;
}

button:focus,
a:focus {
  outline:0;
  box-shadow:0 0 0 .2rem rgba(139, 115, 88, 0.5);
}

/* Tabela */
table {
  width: 100%;
  border-collapse: separate;
  border:5px solid rgba(139, 115, 88, 0.7);
  border-radius: 10px;
}

table th, td {
  padding: 0.25rem;
  text-align: left;
}

table thead {
  color:white;
  background-color: rgba(139, 115, 88, 0.7);
}

table tbody tr:nth-child(even){
  background: rgb(139, 115, 88, 0.2);
}

table tbody tr:hover{
  background-color: rgba(139, 115, 88, 0.5);
  color:white;
  cursor: pointer;
}

::marker {
  color: rgb(87, 64, 37);
}

li:first-child {
  list-style-type: none;
}